<%= form_for(@docente) do |f| %>
  <% if @docente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@docente.errors.count, "error") %> prohibited this docente from being saved:</h2>

      <ul>
      <% @docente.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table class="table">
  <tr class="field">
    <td><%= f.label :user %></td>
    <td><%= f.text_field :user %></td>
  </tr>
  <tr class="field">
    <td><%= f.label :pass %></td>
    <td><%= f.text_field :pass %></td>
  </tr>
  <tr class="field">
    <td><%= f.label :name %></td>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr class="actions">
    <td><%= f.submit %></td>
    <td></td>
  </tr>
</table>
<% end %>
