<div class="container">
  <div class="well">

    <h1>Listado de docentes</h1>

    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav">
          <li> <%= link_to 'Agregar docente', new_docente_path %> </li>
          <li> <%= link_to "Gestionar provincias", provis_path %> </li>
          <li> <%= link_to "Gestionar escuelas", escuelas_path %> </li>
          <li> <%= link_to "Gestionar obras", posts_path %></li>
        </ul>
      </div>
    </div>

    <table class="table">
      <tr>
        <th>Id</th>
        <th>User</th>
        <th>Pass</th>
        <th>Name</th>
        <th>Role</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @docentes.each do |docente| %>
      <tr>
        <td><%= docente.id %></td>
        <td><%= docente.user %></td>
        <td><%= docente.pass %></td>
        <td><%= docente.name %></td>
        <td><%= docente.role %></td>
        <td><%= link_to 'Mostrar', docente %></td>
        <td><%= link_to 'Editar', edit_docente_path(docente) %></td>
        <td><%= link_to 'Eliminar', docente, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
    </table>

  </div>
</div>
