<div class="container">
<div class="well">

<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @user.nombre %>
</p>

<p>
  <b>email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Rol:</b>
  <%= @user.role %>
</p>


<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Volver', users_path %>

</div>
</div>
