<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">La Obra</a></li>
    <li><a href="#tab2" data-toggle="tab">El Código</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <p>
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span4">
              <h3><%= @featured_post.obra %></h3>
              <p>Autores: <%= @featured_post.autor1 %> <%= @featured_post.autor2 %> <%= @featured_post.autor3 %> <%= @featured_post.autor4 %></p>
              <p>Escuela: <%= @featured_post.escuela.institu %></p>
              <p>Curso: <%= @featured_post.curso %></p>
              <p>Año: <%= @featured_post.fecha.year %></p>
              <p>Docente: <%= @featured_post.docente.name %></p>
              <p>Provincia: <%= @featured_post.escuela.provi.prov %></p>
              <p>Fecha de creación: <%= @featured_post.fecha %></p>
              <p>Inventario: <%= @featured_post.id %></p>
              <p>Comentario: <%= @featured_post.comentario %></p>
            </div>
            <div class="span8">
              <canvas data-processing-sources="<%= show_code_path(@featured_post.id) %>"></canvas>
            </div>
          </div>
        </div>
      </p>
    </div>
    <div class="tab-pane" id="tab2">
      <p>
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span4">
              <h3><%= @featured_post.obra %></h3>
              <p>Autores: <%= @featured_post.autor1 %> <%= @featured_post.autor2 %> <%= @featured_post.autor3 %> <%= @featured_post.autor4 %></p>
              <p>Escuela: <%= @featured_post.escuela.institu %></p>
              <p>Curso: <%= @featured_post.curso %></p>
              <p>Año: <%= @featured_post.fecha.year %></p>
              <p>Provincia: <%= @featured_post.escuela.provi.prov %></p>
              <p>Fecha de creación: <%= @featured_post.fecha %></p>
              <p>Inventario: <%= @featured_post.id %></p>
            </div>
            <div class="span8">
              <!-- ACA EL CODIGO -->
              
              <pre class="prettyprint lang-java"><%= @featured_post.codigo %></pre>
            </div>
          </div>
        </div>
      </p>
    </div>
  </div>
</div>


