<% if @featured_post %>
<div class="well">
 <%= render 'obracero' %>
</div>
<% end %>
<div class="well">
  <h3>Gestión del proyecto</h3>
  <div> <%= link_to "Gestionar Provincias", provis_path %> </div>
  <div> <%= link_to "Gestionar Escuelas", escuelas_path %> </div>
  <div> <%= link_to "Gestionar Docentes", docentes_path %> </div>
  <div> <%= link_to "Gestionar Obras", posts_path %> </div>
</div>
