<div class="container">
  <div class="well">

    <h1>Listado de provincias</h1>

    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav">
          <li> <%= link_to 'Agregar provincia', new_provi_path %> </li>
          <li> <%= link_to "Gestionar escuelas", escuelas_path %> </li>
          <li> <%= link_to "Gestionar docentes", docentes_path %> </li>
          <li> <%= link_to "Gestionar obras", posts_path %></li>
        </ul>
      </div>
    </div>

    <table class="table">
      <tr>
        <th>Id</th>
        <th>Prov</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @provis.each do |provi| %>
      <tr>
        <td><%= provi.id %></td>
        <td><%= provi.prov %></td>
        <td><%= link_to 'Mostrar', provi %></td>
        <td><%= link_to 'Editar', edit_provi_path(provi) %></td>
        <td><%= link_to 'Eliminar', provi, method: :delete, data: { confirm: '¿Está seguro' } %></td>
      </tr>
    <% end %>
    </table>

  </div>
</div>
