<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>MAxProg</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <style type="text/css">
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
  </style>
  <title>Maxprog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body onload="prettyPrint()">
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="brand"> <%= link_to "MAxProg", home_path %> </div>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="active"> <%= link_to "Inicio", home_path %>  </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">El proyecto<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li> <%= link_to "Fundamentos", home_path %> </li>
                <li> <%= link_to "El equipo", home_path %> </li>
                <li> <%= link_to "Contacto", home_path %> </li>
                <li> <%= link_to "Enlaces", home_path %> </li>
              </ul>
            </li>
            <li class="active"> <a href="todas/todas.html">Escuelas</a> </li>
          </ul>
        <div class="navbar-form pull-right">
          <div class="btn"> <%= link_to "Identificarse", home_path %> </div>
        </div>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container">
  <%= yield %>
</div>

  <script src="/bootstrap/jquery.js"></script>
  <script src="/bootstrap/bootstrap-transition.js"></script>
  <script src="/bootstrap/bootstrap-alert.js"></script>
  <script src="/bootstrap/bootstrap-modal.js"></script>
  <script src="/bootstrap/bootstrap-dropdown.js"></script>
  <script src="/bootstrap/bootstrap-scrollspy.js"></script>
  <script src="/bootstrap/bootstrap-tab.js"></script>
  <script src="/bootstrap/bootstrap-tooltip.js"></script>
  <script src="/bootstrap/bootstrap-popover.js"></script>
  <script src="/bootstrap/bootstrap-button.js"></script>
  <script src="/bootstrap/bootstrap-collapse.js"></script>
  <script src="/bootstrap/bootstrap-carousel.js"></script>
  <script src="/bootstrap/bootstrap-typeahead.js"></script>
  <script src="processing-1.4.1.min.js"></script>
  <link href="/bootstrap/bootstrap.css" rel="stylesheet">
  <link href="/bootstrap/bootstrap-responsive.css" rel="stylesheet">

  <link href="prettify.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="prettify.js"></script>

</body>
</html>
